function split(str, length) {
  if (typeof str !== 'string') return;
  if (str.length <= length) {
    return str;
  }
  return str.substring(0, length) + '...';
}

function formatPercent(percent) {
  if (!percent) return '';
  return percent.toString().replace('%', '');
}

function formatDate(n, splitchar) {
  if (!n) {
    return '0';
  }
  if (n.toString().indexOf('-') > -1) {
    return n;
  }
  var date = getDate(n * 1000)
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  return [year, month, day].map(formatNumber).join(splitchar || '-')
}

function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

function arrayIsContain(array, arg) {
  if (!array || array.length == 0) return false;
  else return array.indexOf(arg) > -1 ? true : false;
}

function imageSrcParse(path) {
  var domain = 'https://xinzhibang168-1253521270.costj.myqcloud.com';
  if (path.indexOf('http') == -1) return domain + path;
  else return path;
}

function handleNewsType(cover_img, img_size) {
  if (!cover_img) {
    return 3;
  } else {
    return img_size == 'small' ? 2 : 1;
  }
}

function handleAuthorDisplay(author) {
  return '作者：' + author;
}

module.exports = {
  split: split,
  formatPercent: formatPercent,
  formatDate: formatDate,
  formatNumber: formatNumber,
  arrayIsContain: arrayIsContain,
  imageSrcParse: imageSrcParse,
  handleNewsType: handleNewsType,
  handleAuthorDisplay: handleAuthorDisplay
}